<div class="jumbotron mt-4">
    <h1 class="display-4">AppCenar</h1>
    <p class="lead">Welcome to the best delivery app.</p>
    <hr class="my-4">
    <p>Order food from your favorite restaurants.</p>
    <a class="btn btn-primary btn-lg" href="/auth/login" role="button">Login</a>
</div>